{% extends 'shablon_record.html' %}

{% block content %}
<div style="max-width: 600px; margin: 2cm auto; padding: 20px;">
    <h2 class="retro-title">Добавить новый трек</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div style="margin-bottom: 15px;">
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>
        
        <div style="margin-bottom: 15px;">
            {{ form.artist.label_tag }}
            {{ form.artist }}
            {{ form.artist.errors }}
        </div>
        
        <div style="margin-bottom: 15px;">
            {{ form.audio_file.label_tag }}
            {{ form.audio_file }}
            {{ form.audio_file.errors }}
        </div>
        
        <!-- Остальные поля формы -->
        
        <button type="submit" style="padding: 10px 20px; background: #ee964d; color: white; border: none; border-radius: 4px;">
            Сохранить
        </button>
        <a href="{% url 'music' %}" >Отмена</a>
    </form>
</div>
{% endblock %}