{% extends 'shablon_record.html' %}

{% block content %}
<div class="center-block">
    <div>
        <div>
            <h2 class ="for-h">Добавить новый трек</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div style="margin-bottom: 15px;">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                    {{ form.title.errors }}
                </div>     
                <div style="margin-bottom: 15px;">
                    {{ form.artist.label_tag }}
                    {{ form.artist }}
                    {{ form.artist.errors }}
                </div>
                <div style="margin-bottom: 15px;">
                    {{ form.audio_file.label_tag }}
                    {{ form.audio_file }}
                    {{ form.audio_file.errors }}
                </div>
                <button type="submit" class="exit-button1">
                    Сохранить
                </button>
                <br/>
                
            </form>
            <a href="{% url 'music' %}" class="cancel-button">Отмена</a> 
        </div>
       
    </div>
    
</div>
{% endblock %}