{% extends 'shablon_record.html' %}

{% block content %}
<div class="center-block">
    <div>
        
        <h2 class ="for-h">Редактировать трек: {{ music.title }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button class="exit-button1" type="submit">Сохранить изменения</button>
            
        </form>
        <a href="{% url 'music' %}" class="cancel-button" >Отмена</a>
    </div>
</div>

{% endblock %}