{% extends 'shablon_record.html' %}

{% block content %}
    <div class="container-record">
        <h2 class ="for-h">Подтверждение удаления</h2>
    </div>
    <div class="container-record">
        <p class ="for-h">Вы уверены, что хотите удалить запись от {{ record.data }} ({{ record.weekday }})?</p>
    </div>
    <div class="container-record">
        <form method="post">
            {% csrf_token %}
            <button type="submit" >Удалить</button>
            
        </form>
    </div>
    <div class="container-record">
        <a href="{% url 'records' %}">Отмена</a>
    </div>
{% endblock %}