
{% extends "shablon.html"%}


{% block content %}

    <h1 style = "text-align:center;background-color:rgb(238, 149, 32)">Список записей</h1>
    
    
    
    <ul>
    
        
    <div class="menu-wrapper">    
        <br/><br/>              
            {{ record.data }} <br/>
            {{ record.weekday }}   <br/><br/>
            

            <div style="margin-left: 80px">
            <br/><br/><h3 style="color: brown; text-align: center;"> {{'Распорядок дня : '}} </h3> <br/>    
            
                 
                    
                    {{ day.time }} {{"--"}}
                    {{ day.activity }} <br/>
                    {{"Примечание(продолжительность) : "}}{{ day.comment }}<br/><br/> 
                
            
            </div>
            
            <div  style="margin-left: 80px">
            <br/><br/><h3 style="color: brown; text-align: center;">{{"Меню:"}} </h3><br/>
                
                    
                        
                        {{"Завтрак : "}}{{ menu_item.breakfast }} <br/>
                        {{"Обед : "}}{{ menu_item.lunch }} <br/>
                        {{"Ужин : "}}{{ menu_item.dinner }} <br/>
                        {{"Перекус : "}}{{ menu_item.snack }} <br/>
                        {{"Комментарий к меню : "}}{{ menu_item.comment_menu }}<br/><br/> 
                    
                 <br/>
            </div>
                <div style="margin-left: 80px">
                    <a href="{% url 'records' %}" class="btn"><span>Вернуться ко всем записям </span> </a>
                </div> 

            <br/><br/>
        </div>
                  
        <br/><br/>
    
    </ul>
{% endblock %}