{% extends "shablon.html"%}

{% load static %}

{% block content %}
<h1 class ="for-h">Мои картинки</h1>
    
<div class="picture-container1">
    {% for picture in pictures %}
        <div class="picture-card1">
            <div><strong>{{ picture.name }}</strong></div>
            <div class="text-muted small">{{ picture.data}}</div>
            
            {% if picture.image %}
                <img src="{{ picture.image.url }}" class="picture-image1">
            {% endif %}
            
            <div class="picture-description">
                {{ picture.description}}
            </div>
            
            {% if picture.user == request.user %}
                <div class="picture-actions1">
                    <a href="{% url 'edit-picture' picture_id=picture.id %}" class="tooltip-btn-r" title="Редактировать картинку">
                        <span>✏️</span>
                    </a>
                    <a href="{% url 'delete-picture' picture_id=picture.id %}" class="tooltip-btn-r" title="Удалить">
                        🗑️
                    </a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    
    <div class="add-button-wrapper1">
        
        <a href="http://127.0.0.1:8000/picture/create/" class="tooltip-btn-p1">
            <img src="{% static 'img/plus.webp' %}" 
                 alt="Добавить" 
                 width="25"        
                 height="auto">
            <span class="tooltip-text-p1">Добавить новую картинку</span>
        </a>
    </div>
</div>
{% endblock %}