{% extends 'shablon_record.html' %}

{% block content %}
<div class="center-block">
    <div>
        <div style="max-width: 600px; margin: 2cm auto; padding: 20px; text-align: center;">
            <h2 class ="for-h">Удалить книгу?</h2><br/>
            "{{ book.name }} --- {{book.author}}"?<br/><br/><br/>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="exit-button1">Да, удалить</button><br/>
            <a href="{% url 'books' %}" class="exit-button">Отмена</a>
        </form>
        </div>
    </div>
</div>
{% endblock %}