{% extends "shablon_record.html" %}

{% block content %}
<div class="edit-profile-container" style="background-color: rgb(244, 225, 169); min-height: 100vh; padding: 30px 0;">
    <div class="edit-profile-header" style="text-align: center; margin-bottom: 30px;">
        <h1 class ="for-h">Редактирование профиля</h1>
    </div>
 
            <div class="form-actions" style="text-align: center;">
                <form method="post" enctype="multipart/form-data"> 
                    {% csrf_token %}  
                    {{ form.as_p }}
                    <button type="submit">Сохранить</button>
                </form>
                <a href="{% url 'profil' %}" style="display: inline-block; margin-left: 15px; padding: 10px 25px; color: #E67E22; border: 1px solid #E67E22; border-radius: 5px; text-decoration: none;">
                    Отмена
                </a>
            </div>
        </form> 
</div>


{% endblock %}