{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница ежедневника</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
       
</head>
<body class="body-profil">
    <div class="header-profil">ПРОФИЛЬ</div>
    <div class="navigation-profil">
        <button onclick="location.href='http://127.0.0.1:8000/accounts/main/'">ГЛАВНАЯ СТРАНИЦА</button>
        <button onclick="location.href='http://127.0.0.1:8000/record/'"> МОИ ЗАПИСИ</button>
        <button onclick="location.href='http://127.0.0.1:8000/accounts/main/calendar/'">КАЛЕНДАРЬ</button>
        <button onclick="location.href='http://127.0.0.1:8000/music/'">МОЯ МУЗЫКА</button>
        <button onclick="location.href='http://127.0.0.1:8000/books/'">МОИ КНИГИ</button>
        <button onclick="location.href='http://127.0.0.1:8000/picture/'">МОИ КАРТИНКИ</button>
    </div>
</body>
</html>